<div
  class="modal fade"
  id="addItemClothingModal"
  tabindex="-1"
  aria-hidden="true"
>
<div class="modal-dialog modal-lg">
  <div class="modal-content" style="background-color: #ece7e5">
    <div class="modal-header">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body pb-4">
      <div class="row px-0 mx-0">
        <div class="col">
          <div class="container-fluid px-0 mx-0">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
              <li class="nav-item bstab" role="presentation">
                <button
                  class="nav-link active tabbtn"
                  id="edit-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#home"
                  type="button"
                  role="tab"
                  aria-controls="edit"
                  aria-selected="true"
                >
                  <b>Add</b>
                </button>
              </li>

            </ul>
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
              <div class="container-fluid"> 
                  <%- include('./add-clothing-modal-tab') %>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
