<div class="container-fluid footer-wrap px-2 mt-5" style="color: aliceblue; background-color: #212121;">
    <div class="row pt-2 pb-5  pt-5 justify-content-around ps-4">
        <div class="col-12 col-md-3">
            <div class="container-fluid">
                <div class="row">
                    <p><i class="fa-solid fa-envelope"></i>&nbsp&nbsp support@wvssshop.com</p>
                </div>
                <div class="row">
                    <p><i class="fa-solid fa-location-dot"></i>&nbsp&nbsp750 Mathers Ave, West Vancouver, BC V7V 2G7</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 ps-4 footer-links">
            <div class="row justify-content-around">
                <div class="col-12 col-sm-4 ps-5">
                    <div class="row"><b class="px-0">Clothing</b></div>
                    <div class="row"><a href="/test">Sweatshirts</a></div>
                    <div class="row"><a href="/test">Polos</a></div>
                    <div class="row"><a href="/test">T-Shirts</a></div>
                    <div class="row"><a href="/test">Jackets</a></div>
                    <div class="row"><a href="/test">Hats</a></div>
                </div>
                <div class="col-12 col-sm-4 ps-5">
                    <div class="row"><b class="px-0">Club Products</b>  
                    </div>                    
                    <div class="row"><p class="ps-2 my-0"><a href="/test">Jerseys</a></p></div>
                    <div class="row"><p class="ps-2 my-0"><a href="/test">Balls</a></p></div>
                    <div class="row"><p class="ps-2 my-0"><a href="/test">Knee Pads</a></p></div>
                    <div class="row"><b class="px-0 py-2">Student Artwork</b></div>
                    <div class="row"><p class="ps-2 my-0"><a href="/test">Digital</a></p></div>
                    <div class="row"><p class="ps-2 my-0"><a href="/test">Physical</a></p></div>
                </div>
                <div class="col-12 col-sm-4 ps-5">
                    <div class="row"><b class="px-0">Site Map</b></div>
                    <div class="row"><p class="ps-2 my-0"><a href="/">Home</a></p></div>
                    <div class="row"><p class="ps-2 my-0"><a href="/test">Products</a></div>
                    <div class="row"><p class="ps-2 my-0"><a href="/about">About</a></p></div>
                    <div class="row"><p class="ps-2 my-0"><a href="/help">Help</a></p></div>
                    <div class="row"><p class="ps-2 my-0"><a href="/test/orders">My Orders</a></p></div>
                    <div class="row"><p class="ps-2 my-0"><a href="/test/account">My Account</a></p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center" style="background-color: #141414;">
        <div class="col-auto align-items-center">
            <p class="my-1 p-0">
                © 2021-2022 programming club at WVSS
            </p>
        </div>
    </div>
</div>