<nav class="navbar navbar-expand-md  pt-3 mt-md-3 d-none d-md-flex justify-content-center navbar-dark index">
<ul class=" d-flex justify-content-around navbar-nav" style="width: 100%;">
    <li class="d-inline-block nav-item"> <a class="nav-link" href="#" style="color: black;">Educational Payments</a> </li>
    <li class="d-inline-block nav-item"> <a class="nav-link" href="#" style="color: black;">Clothing</a> </li>
    <li class="d-inline-block nav-item"> <a class="nav-link" href="#" style="color: black;">Student Art</a> </li>
    <li class="d-inline-block nav-item"> <a class="nav-link" href="#" style="color: black;">Club Products</a> </li>
</nav>
</nav>