<div class="modal fade" id="previewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row mt-4">
                <div class="col-12 col-md-6 col-lg-5 mb-4">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-3">
                                        <ul class="small-img-group w-100 px-0">
                                            <li class="small-img pb-1">
                                                <a 
                                                href="/assets/hoodie5.jpg"
                                                data-fancybox="gallery"
                                                data-caption="Black - M"
                                                >
                                                <img src="/assets/hoodie5.jpg" class="w-100" alt="item-item">
                                                </a>
                                            </li>
                                            <li class="small-img pb-1">
                                                <a 
                                                href="/assets/hoodie2.jpg"
                                                data-fancybox="gallery"
                                                data-caption="Blue"
                                                >
                                                <img src="/assets/hoodie2.jpg" class="w-100" alt="item-item">
                                                </a>
                                            </li>
                                            <li class="small-img pb-1">
                                                <a 
                                                href="/assets/hoodie3.jpg"
                                                data-fancybox="gallery"
                                                data-caption="Different color"
                                                >
                                                <img src="/assets/hoodie3.jpg" class="w-100" alt="item-item">
                                                </a>
                                            </li>
                                            <li class="small-img pb-1">
                                                <a 
                                                href="/assets/hoodie4.jpg"
                                                data-fancybox="gallery"
                                                data-caption="idk"
                                                >
                                                <img src="/assets/hoodie4.jpg" class="w-100" alt="item-item">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-9 xxvFru">
                                        <a 
                                            href="/assets/hoodie.jpg"
                                            data-fancybox="gallery"
                                            data-caption="Oprionso nj"
                                            >
                                            <img src="/assets/hoodie.jpg" class="w-100" alt="item-item">
                                            </a>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 order-first order-md-0">
                    <div class="row">
                        <h1>Random Artwork</h1>
                     </div>
                    <div class="row">
                        <p>by Jamie Kang</p>
                    </div>
                    <div class="row d-none d-md-block">
                        <p>This Hoodie was designed in 1915 by Jamie Kang as a part of the "Western Front" collection.
                            He later released a second series in 1940.
                        </p>
                    </div>
                </div>
                
                <div class="col-12 d-md-none">
                    <div class="row">
                        <h2>Description</h2>
                        <p>This is a hoodie designed by WVSS talented student Jamie Kang <br>
                            It is available in multiple sizes and colors
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#editModal">Go Back</button>
        </div>
      </div>
    </div>
  </div>