
<div class="container-fluid px-1 shop-item">
    <div class="row">
        <div class="container-fluid px-0" style="background-color: #ECE7E5;">
                <img src="/assets/item-example.jpg" alt="item-item" class="w-100 h-100" style="border-radius: 2% 2% 5% 5% ;">
        </div>
    </div>
    <div class="row">
        <div class="container-fluid" id="item-info" style="background-color: #ECE7E5; border-radius: 0 0 6px 6px;">
            <a style="color: black; text-decoration: none;">
                    <div class="row my-2 ms-1"><p class="text-start m-0 p-0"><%=element.name%></p></div>
                <div class="row mb-2 ms-1"><b class="p-0 m-0">$<%=element.price%></b></div>
            </a>
        </div>
        
    </div>
</div>

