<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add to Stock</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-7 col-sm-12">
                        <div class="row d-flex align-items-center">
                            <div class="col-12 col-sm-3 mt-1">
                                West Van T-Shirt
                            </div>
                            <div class="col-12 col-sm-3 mt-1">
                                <select class="form-select form-select-sm w-100" name="add-stock-size" id="item-size">
                                    <option value="xs">XS</option>
                                    <option value="s">S</option>
                                    <option value="m">M</option>
                                    <option value="l">L</option>
                                    <option value="xl">XL</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-3 mt-1">
                                <select class="form-select form-select-sm w-100" name="add-stock-color" id="item-color">
                                    <option value="xs">Heather Blue</option>
                                    <option value="s">Mordor Black</option>
                                    <option value="m">Anime Pink</option>
                                    <option value="l">Disgusting Brown</option>
                                    <option value="xl">Salad Green</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-3 mt-1">
                                <input type="number" class="form-control form-select-sm" min="0" step="1" value="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Stock Items</button>
        </div>
      </div>
    </div>
  </div>
