<div class="d-flex align-items-start mt-3">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-xs-tab" data-bs-toggle="pill" data-bs-target="#v-pills-xs" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
            XS
        </button>
        <button class="nav-link" id="v-pills-s-tab" data-bs-toggle="pill" data-bs-target="#v-pills-s" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
            S
        </button>
        <button class="nav-link" id="v-pills-m-tab" data-bs-toggle="pill" data-bs-target="#v-pills-m" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
            M
        </button>
        <button class="nav-link" id="v-pills-l-tab" data-bs-toggle="pill" data-bs-target="#v-pills-l" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
            L
        </button>
        <button class="nav-link" id="v-pills-xl-tab" data-bs-toggle="pill" data-bs-target="#v-pills-xl" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
            XL
        </button>
    </div>
    <div class="container-fluid px-0">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-xs" role="tabpanel" aria-labelledby="v-pills-xs-tab">
                <div class="container-fluid px-0">
                  <div class="row">
                      <div class="col-12 col-md-6">
                        <div class="row d-flex align-items-center mb-1">
                            <div class="col-7 px-0">
                                <div class="container d-flex align-items-center">
                                    <span class="d-none d-sm-inline-block me-2" style="background-color: #99c4f7;border-radius:50%;height: 1rem;width: 1rem;"></span>
                                    Heather Blue
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <form action="/cdd" class="w-100 px-0">
                                    <input type="number" min="0" step="1" class="form-control form-control-sm">
                                </form>
                            </div>
                            <div class="col-2 px-0">
                                <button class="button-sanitize">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mb-1">
                            <div class="col-7 px-0">
                                <div class="container d-flex align-items-center">
                                    <span class="d-none d-sm-inline-block me-2" style="background-color: #212121;border-radius:50%;height: 1rem;width: 1rem;"></span>
                                    Mordor Black
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <form action="/cdd" class="w-100 px-0">
                                    <input type="number" min="0" step="1" class="form-control form-control-sm">
                                </form>
                            </div>
                            <div class="col-2 px-0">
                                <button class="button-sanitize">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mb-1">
                            <div class="col-7 px-0">
                                <div class="container d-flex align-items-center">
                                    <span class="d-none d-sm-inline-block me-2" style="background-color: pink;border-radius:50%;height: 1rem;width: 1rem;"></span>
                                    Anime Pink
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <form action="/cdd" class="w-100 px-0">
                                    <input type="number" min="0" step="1" class="form-control form-control-sm">
                                </form>
                            </div>
                            <div class="col-2 px-0">
                                <button class="button-sanitize">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                            </div>
                        </div>
                        
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="row d-flex align-items-center mb-1">
                            <div class="col-7 px-0">
                                <div class="container d-flex align-items-center">
                                    <span class="d-none d-inline-block me-2" style="background-color: rgb(104, 69, 37);border-radius:50%;height: 1rem;width: 1rem;"></span>
                                    Disgusting Brown
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <form action="/cdd" class="w-100 px-0">
                                    <input type="number" min="0" step="1" class="form-control form-control-sm">
                                </form>
                            </div>
                            <div class="col-2 px-0">
                                <button class="button-sanitize">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mb-1">
                            <div class="col-7 px-0">
                                <div class="container d-flex align-items-center">
                                    <span class="d-none d-sm-inline-block me-2" style="background-color: rgb(86, 223, 88);border-radius:50%;height: 1rem;width: 1rem;"></span>
                                    Salad Green
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <form action="/cdd" class="w-100 px-0">
                                    <input type="number" min="0" step="1" class="form-control form-control-sm">
                                </form>
                            </div>
                            <div class="col-2 px-0">
                                <button class="button-sanitize">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-s" role="tabpanel" aria-labelledby="v-pills-s-tab">
      
            </div>
            <div class="tab-pane fade" id="v-pills-m" role="tabpanel" aria-labelledby="v-pills-m-tab">
                
            </div>
            <div class="tab-pane fade" id="v-pills-l" role="tabpanel" aria-labelledby="v-pills-l-tab">
                
            </div>
            <div class="tab-pane fade" id="v-pills-xl" role="tabpanel" aria-labelledby="v-pills-xl-tab">
                
            </div>
          </div>
    </div>
  </div>