<!DOCTYPE html>
<html lang="en">
<head>
    <title>HELP</title>
    <%- include('./partials/head') %> 
    <%- include('./partials/navbar') %>
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>
<body class="mx-0 mt-5" style="height: auto; overflow-x: hidden;">
    <div class="row justify-content-center">
        <div class="col-11 col-md-9 col-lg-7 pt-5">
            <div class="container-fluid mt-4 ps-0">
                <h1><b>Manage Shop</b></h1>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-md-9 col-lg-7">
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-md-9 col-lg-7 pt-1 d-flex justify-content-end">
                <ul class="vlist">
                    <li class="ps-5"><i class="fa-solid fa-filter"></i></li>
                    <li class="ps-5"><i class="fa-solid fa-trash-can"></i></li>
                    <li class="ps-5 pe-1"><i class="fa-solid fa-square-plus"></i></li>
                </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-md-9 col-lg-7 pt-1 mb-5 d-flex justify-content-center">
            <div class="container-fluid backcon justify-content-center">
                <div class="row py-3 desc-line">
                    <div class="col-1"></div>
                    <div class="col-2 caty">Title</div>
                    <div class="col-2 caty">Price</div>
                    <div class="col-3 caty">Description</div>
                    <div class="col-2 caty">Type</div>
                    <div class="col-2"></div>
                </div>
                <div class="row justify-content-between d-flex pt-3  desc-line">
                    <div class="col-1 catch">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkitem1121">
                        </div>
                    </div>
                    <div class="col-2 catc">
                        <p>West Wan T-Shirt</p>
                    </div>
                    <div class="col-2 catc">$68.99</div>
                    <div class="col-3 catc">This Shirt is the official...</div>
                    <div class="col-2 catc">Clothing</div>
                    <div class="col-2 catc"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-11">
                        <hr>
                    </div>
                </div>
                
                
                
        </div>
    </div>

<%- include('./partials/footer') %>
<%- include('./partials/bootstrapscript') %>
</body>
</html>