<!DOCTYPE html>
<html lang="en">
<head>
    <title>HELP</title>
    <%- include('./partials/head') %> 
    <%- include('./partials/navbar') %>
</head>
<body class="mx-0 mt-5" style="height: auto; overflow-x: hidden;">
xd

<%- include('./partials/footer') %>
<%- include('./partials/bootstrapscript') %>
</body>
</html>