<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/categories.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
	<title>WVSS Shop Categories</title>
</head>
<body>
<header class="header">
    <img src="../assets/mainlogo.png" alt="Lorem ipsum" class="logo"  onclick="location.href='categories.ejs';" style="cursor: pointer;">
    <input type="text" placeholder="Search for clothing, art, etc...">
    <nav>
        <ul id="nav_list">
            <div class="nav_area" onclick="location.href='help.ejs';" style="cursor: pointer;">
                <li>About</li>
            </div>
            <div class="nav_area" onclick="location.href='help.ejs';" style="cursor: pointer;">
                <li>Help</li>
            </div>
            <div class="nav_area" onclick="location.href='help.ejs';" style="cursor: pointer;">
                <li>Sign up</li>
            </div>
            <div class="nav_area" onclick="location.href='help.ejs';" style="cursor: pointer;">
                <li>Sign in</li>
            </div>
        </ul>
    </nav>
</header>
<main>
    <div id="featured_product"> 
        <img src="../assets/SeaJacket.jpg" alt="" class="featured_product_image">
    </div>
    <div id="main_body">
        <section id="product_space">
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
        </section>
        <section id="category_selection">
            <div>
                <ul class="category">
                    <li class="first_level_category">All categories</li>
                </ul>
            </div>
            <div>
                <ul class="category">
                    <li class="first_level_category">Clothing</li>
                    <hr class="category_line">
                    <li class="second_level_cat">Sweatshirts</li>
                    <li class="second_level_cat">Polos</li>
                    <li class="second_level_cat">T-Shirts</li>
                    <li class="second_level_cat">Jackets</li>
                    <li class="second_level_cat">Hats</li>
                </ul>
            </div>
            <div>
                <ul class="category">
                    <li class="first_level_category">Club Products</li>
                    <hr class="category_line">
                    <li class="second_level_cat">Jerseys</li>
                    <li class="second_level_cat">Balls</li>
                    <li class="second_level_cat">Knee Pads</li>
                </ul>
            </div>
            <div>
                <ul class="category">
                    <li class="first_level_category">Student Artwork</li>
                    <hr class="category_line">
                    <li class="second_level_cat">Sweatshirts</li>
                    <li class="second_level_cat">Polos</li>
                    <li class="second_level_cat">T-Shirts</li>
                    <li class="second_level_cat">Jackets</li>
                    <li class="second_level_cat">Hats</li>
                </ul>
            </div>
        </section>
    </div>
</main>
</body>
</html>