<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/all.css">
    <%- include('./partials/navbar-logged-in') %>
    <title>Log in - WVSS Shop</title>
</head>
<body class="mx-0 mt-3" style="height: auto; overflow-x: hidden;">
    <main>
        <section id="sign-in-window">
            <div id="sign-in-content">
                <div id="sign-in-up">
                    <div id="sign-up-container" onclick="location.href='/signup/signup';" style="cursor: pointer;"><p>Sign up</p></div>
                    <div id="sign-in-container"><p>Log in</p></div>
                </div>
                <button id="google_signin">Continue with Google</button>
                <div id="line-holder"><hr></div>
                <input type="text" placeholder="Email Adress" autocomplete="email">
                <input type="password" placeholder="Password">
                <div></div>
                <button id="sign-up-button">Log in</button>
                <p id="Terms-text">By logging in, you agree to the Terms of Service and Privacy Policy</p>   
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/bootstrapscript') %>
</body>
</html>