ul {
    list-style-type: none;
}
nav {
    background-color: #b85143;
}
nav.index {
    background-color: #eaeaea;
}
input {
    border-radius: 2px;
    height: 50%;
    background-image: url('../assets/searchicon.png');
    background-repeat: no-repeat; 
    background-size: auto 50%; 
    background-position: 12px;
    padding-left: 40px !important;
}
.nav-link {
    color: black;
}
.active {
    background-color: #b85143 !important;
}
.nav-item {
    text-align: end;
}
body {
    font-family: Open Sans;
}
