ul {
    list-style-type: none;
}
nav {
    background-color: #b85143;
}
nav.index {
    background-color: #eaeaea;
}
input .srch {
    border-radius: 2px;
    height: 50%;
    background-image: url('../assets/searchicon.png');
    background-repeat: no-repeat; 
    background-size: auto 50%; 
    background-position: 12px;
    padding-left: 40px !important;
}
.nav-link {
    color: black;
}
.active {
    background-color: #b85143 !important;
}
.nav-item {
    text-align: end;
}
@media (max-width:770px) {
   .nav-item {
    text-align: start;
   }
}
body {
    font-family: Open Sans;
}
.shop-item:hover #item-info {
    filter: brightness(80%);
    transition: filter 700ms;
}
.footer-links a {
    text-decoration: none;
    color: aliceblue;
    filter: brightness(80%);
}
.footer-links a:hover {
    filter: brightness(100%);
}

