ul {
    list-style-type: none;
}
nav {
    background-color: #b85143;
}
nav.InDxNv {
    background-color: #eaeaea;
}
input {
    border-radius: 2px;
    height: 50%;
    background-image: url('../assets/searchicon.png');
    background-repeat: no-repeat; 
    background-size: auto 50%; 
    background-position: 12px;
    padding-left: 40px !important;
}
