body {
    margin: 0%;
}
header {
    height: 150px;
    display: flex;
    background-color: #D06050;
    justify-content: center;
    align-items: center;
}
img.logo {
    width: 140px;
    height: 140px;
}
main {
    display: flex;
    height:600px;
    justify-content: center;
    align-items: center;
    font-family: Open Sans;

}
footer {
    background-color: slategray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}
#sign-in-content {
    display: grid;
    grid-template-rows: repeat(2, 12%) 6% 12% 12% 1% 12%;
    row-gap: 2.6%;
    width: 75%;
    height: 90%;

}
#sign-in-window {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    font-family: Open Sans;
    border-radius: 25px;
    background-color: #eaeaea;
}

#sign-in-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#sign-in-up div {
    height: 85%;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sign-up-container {
    color: grey;
    border-bottom: 1px solid gray;
}
#sign-in-container {
    color: black;
    border-bottom: 1px solid black;
}
input[type="text"] {
    font-size: 16px;
    border: 0px;
    padding-left: 5%;
}
input[type="password"] {
    font-size: 16px;
    border: 0px;
    padding-left: 5%;
}
#terms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;  
}
#google_signin {
    background-color: #ffffff;
    font-family: Open Sans;
    font-size: 16px;
    border: 0px;
    height: 50px;
}
#sign-up-button {
    background-color: #ff6868;
    font-family: Open Sans;
    font-size: 16px;
    border: 0px;
    height: 50px;
}
#Terms-text {
    font-family: Open Sans;
    font-size: 12px;
}
